.empluse-card{
  height: 100px;
  text-align: center;
  line-height: 100px;
  background-color: #0091D5;
  color: #fff;
  border-radius: 10px;
 transition: 0.6s;
  cursor: pointer;
}

.empluse-card:hover{
  box-shadow: 0px 3px 5px #50a5ca;
}
